{{page-title 'Embega'}}

<div class='container'>
  <h1 class='my-4'>Monthly Stock Prices</h1>
  <div class='row g-2'>
    <div class='col-10'>
      <AutocompleteInput
        id='symbol-search-input'
        class='form-control'
        placeholder='Search for stock symbol'
        @value={{this.symbol}}
        @onInput={{this.setSymbol}}
        @search={{this.searchSymbols}}
        @options={{this.symbolOptions}}
      />
    </div>
    <div class='col-2 d-grid'>
      <button
        type='button'
        class='btn btn-primary'
        disabled={{this.missingSymbol}}
        {{on 'click' (fn this.getStockData this.symbol)}}
      >Fetch Stock Data</button>
    </div>
  </div>
  <div class='mt-4'>
    <StockVis @stockData={{this.stockData}} />
  </div>
</div>

{{outlet}}
