{{page-title 'Embega'}}

<div class='container'>

  <AutocompleteInput
    id='symbol-search-input'
    class='form-control'
    placeholder='Search for stock symbol'
    @value={{this.symbol}}
    @onInput={{this.setSymbol}}
    @search={{this.searchSymbols}}
    @options={{this.symbols}}
  />

</div>

{{outlet}}
